{% extends 'base.html.twig' %}

{% block title %}CommPeak Test Application{% endblock %}

{% block body %}
<style>
    
</style>

<div class="container">
    <div class="form-container">
        {{ form_start(form, {'attr': {'id' : 'uploadCSVForm', 'class': 'my-5 p-3 border border-secondary-subtle rounded-2 bg-light'}}) }}
        {{ form_row(form._token) }}
        {{ form_row(form.files) }}
        {{ form_end(form) }}

        <div id="logContainer"></div>
    </div>

    <h3 class="text-center">Statistics</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Number of calls within same continent</th>
                <th scope="col">Total Duration of calls within same continent</th>
                <th scope="col">Total number of all calls</th>
                <th scope="col">Total duration of all calls</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>120 seconds</td>
                <td>10</td>
                <td>169 seconds</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>6</td>
                <td>332 seconds</td>
                <td>312</td>
                <td>4124 seconds</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="{{ asset('js/home.js') }}" ></script>
{% endblock %}
